In [1]:
import pandas as pd
import torch
import numpy as np

#### After running the test_file.sh for about 2 laps, I start by converting it to a pandas dataframe.

-   Read default.samples using the pd.read_table() function.
-   Use pd.DataFrame() to convert to a dataframe
-   We changed the code so that it would add the target velocity to the data

In [2]:
# Define path
path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/1_default.samples"

# Read file
t = pd.read_table(path, sep=" ", header=None)

# Convert to df
df = pd.DataFrame(t)

# Show
display(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,7.4565,6.8632,8.4021,10.2755,12.9451,9.7520,5.7550,5.8843,3.9540,20.0,20.0,5.2561,2.7631,4.3158,5.5333,1.4624,-32.0,0.966667
1,7.4570,6.8637,8.4026,10.2759,12.9455,9.7523,5.7554,5.8845,3.9542,20.0,20.0,5.2564,2.7635,4.3162,5.5337,1.4628,-32.0,0.966667
2,7.4565,6.8633,8.4022,10.2756,12.9452,11.2514,5.7551,5.8844,20.0000,20.0,20.0,5.2560,2.7631,4.3157,5.5332,1.4624,-32.0,0.966667
3,7.4554,6.8621,8.4012,10.2746,12.9443,11.2507,5.7545,5.8839,20.0000,20.0,20.0,5.2550,2.7620,4.3146,5.5320,1.4612,-32.0,0.966667
4,7.4533,6.8601,8.3994,10.2729,12.9429,11.2495,5.7534,5.8832,20.0000,20.0,20.0,5.2533,2.7600,4.3126,5.5299,1.4590,-32.0,0.966667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303,20.0000,20.0000,20.0000,0.9765,2.9568,4.9596,3.0618,12.2348,11.5048,20.0,20.0,20.0000,20.0000,20.0000,20.0000,20.0000,25.5,1.075000
3304,20.0000,20.0000,20.0000,0.9485,2.9304,4.9355,3.0423,11.4895,20.0000,20.0,20.0,20.0000,20.0000,20.0000,20.0000,20.0000,24.5,1.091667
3305,20.0000,20.0000,20.0000,0.8949,4.8890,6.9291,3.0052,11.4600,20.0000,20.0,20.0,20.0000,20.0000,20.0000,20.0000,20.0000,22.5,1.125000
3306,20.0000,20.0000,20.0000,0.8676,4.8650,6.9062,2.9863,11.4447,10.3599,20.0,20.0,20.0000,20.0000,20.0000,20.0000,20.0000,21.5,1.141667
3307,20.0000,20.0000,20.0000,0.8676,4.8650,6.9062,2.9863,11.4447,10.3599,20.0,20.0,20.0000,20.0000,20.0000,20.0000,20.0000,21.5,1.141667

In [3]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
3303,20.0,20.0,20.0,0.9765,2.9568,4.9596,3.0618,12.2348,11.5048,20.0,20.0,20.0,20.0,20.0,20.0,20.0,25.5,1.075000
3304,20.0,20.0,20.0,0.9485,2.9304,4.9355,3.0423,11.4895,20.0000,20.0,20.0,20.0,20.0,20.0,20.0,20.0,24.5,1.091667
3305,20.0,20.0,20.0,0.8949,4.8890,6.9291,3.0052,11.4600,20.0000,20.0,20.0,20.0,20.0,20.0,20.0,20.0,22.5,1.125000
3306,20.0,20.0,20.0,0.8676,4.8650,6.9062,2.9863,11.4447,10.3599,20.0,20.0,20.0,20.0,20.0,20.0,20.0,21.5,1.141667
3307,20.0,20.0,20.0,0.8676,4.8650,6.9062,2.9863,11.4447,10.3599,20.0,20.0,20.0,20.0,20.0,20.0,20.0,21.5,1.141667

#### Information!

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3308 entries, 0 to 3307
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3308 non-null   float64
 1   1       3308 non-null   float64
 2   2       3308 non-null   float64
 3   3       3308 non-null   float64
 4   4       3308 non-null   float64
 5   5       3308 non-null   float64
 6   6       3308 non-null   float64
 7   7       3308 non-null   float64
 8   8       3308 non-null   float64
 9   9       3308 non-null   float64
 10  10      3308 non-null   float64
 11  11      3308 non-null   float64
 12  12      3308 non-null   float64
 13  13      3308 non-null   float64
 14  14      3308 non-null   float64
 15  15      3308 non-null   float64
 16  16      3308 non-null   float64
 17  17      3308 non-null   float64
dtypes: float64(18)
memory usage: 465.3 KB

### More!

In [5]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.0,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000,3308.000000
mean,10.693885,8.967424,9.769526,8.566755,9.177894,7.244609,8.707776,7.357612,14.008577,20.0,16.453719,14.921087,15.125725,14.501483,13.905103,11.930902,2.303507,1.342291
std,7.652275,7.376931,7.386916,7.180727,7.311107,6.133312,6.572315,5.748568,6.605551,0.0,6.392659,7.513922,7.336148,7.803161,7.936621,8.340058,13.854609,0.172958
min,0.414600,0.525200,0.523800,0.618800,0.511600,0.417700,0.375900,0.339300,0.322900,20.0,0.361900,0.196700,0.209900,0.225400,0.181100,0.261600,-54.500000,0.591667
25%,3.681450,3.221025,3.645825,2.777900,2.713675,3.079200,3.745200,3.610550,7.569425,20.0,20.000000,6.336300,6.655275,5.550175,5.495475,3.033000,-2.500000,1.266667
50%,7.083500,5.242600,6.477100,5.751850,6.973350,5.057700,6.604600,5.511900,15.596000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,1.500000,1.408333
75%,20.000000,20.000000,20.000000,20.000000,20.000000,9.314150,11.631475,8.917025,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,7.500000,1.466667
max,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,53.000000,1.500000

#### Save

-   Save as csv

In [6]:
save_path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/data_2rounds"
# df.to_csv(save_path)

In [7]:
# Create X data and Y data by converting them to torch.tensor
x = torch.tensor(np.array(df.iloc[0:,0:-2], copy=False))

# We decided to leave out the velocity for now.
y = torch.tensor(np.array(df.iloc[0:,16:17], copy=False))

display(x)
display(y)

tensor([[ 7.4565,  6.8632,  8.4021,  ...,  4.3158,  5.5333,  1.4624],
        [ 7.4570,  6.8637,  8.4026,  ...,  4.3162,  5.5337,  1.4628],
        [ 7.4565,  6.8633,  8.4022,  ...,  4.3157,  5.5332,  1.4624],
        ...,
        [20.0000, 20.0000, 20.0000,  ..., 20.0000, 20.0000, 20.0000],
        [20.0000, 20.0000, 20.0000,  ..., 20.0000, 20.0000, 20.0000],
        [20.0000, 20.0000, 20.0000,  ..., 20.0000, 20.0000, 20.0000]],
       dtype=torch.float64)

tensor([[-32.0000],
        [-32.0000],
        [-32.0000],
        ...,
        [ 22.5000],
        [ 21.5000],
        [ 21.5000]], dtype=torch.float64)

In [8]:
device = (

    "cuda" if torch.cuda.is_available() else "mps" if torch.backends.mps.is_available() else "cpu"

)

print(f"Using {device} device")

Using cpu device