In [ ]:
import pandas as pd
import torch
import numpy as np

#### After running the test_file.sh for about 2 laps, I start by converting it to a pandas dataframe.

-   Read default.samples using the pd.read_table() function.
-   Use pd.DataFrame() to convert to a dataframe
-   We changed the code so that it would add the target velocity to the data

In [19]:
# Define path
path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/sonar_data_3r.samples"

# Read file
t = pd.read_table(path, sep=" ", header=None,)

# Convert to df
df = pd.DataFrame(t)

# Show
display(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,7.4593,6.8660,8.4048,10.2781,12.9475,9.7540,5.7571,5.8859,3.9555,20.0,20.0,5.2578,2.7651,4.3179,5.5356,1.4650,-32.0,0.966667
1,7.4592,6.8659,8.4047,10.2780,12.9474,9.7540,5.7570,5.8859,3.9554,20.0,20.0,5.2578,2.7651,4.3179,5.5356,1.4650,-32.0,0.966667
2,7.4592,6.8659,8.4047,10.2780,12.9474,9.7540,5.7570,5.8859,3.9554,20.0,20.0,5.2578,2.7651,4.3179,5.5356,1.4650,-32.0,0.966667
3,7.4566,6.8634,8.4025,10.2759,12.9456,11.2519,5.7557,5.8850,20.0000,20.0,20.0,5.2556,2.7626,4.3154,5.5329,1.4623,-32.0,0.966667
4,7.4507,6.8577,8.3973,10.2711,12.9414,11.2484,5.7526,5.8828,20.0000,20.0,20.0,5.2504,2.7570,4.3095,5.5268,4.8017,-31.0,0.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5020,5.3273,3.2711,1.2329,8.7072,7.1713,7.9065,5.9195,6.7915,14.7765,20.0,20.0,20.0000,20.0000,1.1979,20.0000,20.0000,-12.5,1.291667
5021,7.2134,3.2213,1.1855,8.6628,7.1316,7.8698,5.8885,6.7638,13.8079,20.0,20.0,20.0000,20.0000,1.1537,20.0000,20.0000,-10.5,1.325000
5022,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0000,20.0000,1.1064,20.0000,20.0000,-9.5,1.341667
5023,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0000,20.0000,1.1064,20.0000,20.0000,-9.5,1.341667
5024,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0000,20.0000,1.1064,20.0000,20.0000,-9.5,1.341667

In [20]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
5020,5.3273,3.2711,1.2329,8.7072,7.1713,7.9065,5.9195,6.7915,14.7765,20.0,20.0,20.0,20.0,1.1979,20.0,20.0,-12.5,1.291667
5021,7.2134,3.2213,1.1855,8.6628,7.1316,7.8698,5.8885,6.7638,13.8079,20.0,20.0,20.0,20.0,1.1537,20.0,20.0,-10.5,1.325000
5022,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0,20.0,1.1064,20.0,20.0,-9.5,1.341667
5023,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0,20.0,1.1064,20.0,20.0,-9.5,1.341667
5024,7.1591,3.1682,1.1354,8.6157,9.2355,7.0897,5.8565,6.7352,20.0000,20.0,20.0,20.0,20.0,1.1064,20.0,20.0,-9.5,1.341667

#### Information!

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5025 entries, 0 to 5024
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5025 non-null   float64
 1   1       5025 non-null   float64
 2   2       5025 non-null   float64
 3   3       5025 non-null   float64
 4   4       5025 non-null   float64
 5   5       5025 non-null   float64
 6   6       5025 non-null   float64
 7   7       5025 non-null   float64
 8   8       5025 non-null   float64
 9   9       5025 non-null   float64
 10  10      5025 non-null   float64
 11  11      5025 non-null   float64
 12  12      5025 non-null   float64
 13  13      5025 non-null   float64
 14  14      5025 non-null   float64
 15  15      5025 non-null   float64
 16  16      5025 non-null   float64
 17  17      5025 non-null   float64
dtypes: float64(18)
memory usage: 706.8 KB

### More!

In [22]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,5025.000000,5025.000000,5025.000000,5025.000000,5025.000000,5025.000000,5025.000000,5025.000000,5025.000000,5025.0,5025.000000,5025.000000,5025.000000,5025.000000,5025.00000,5025.000000,5025.000000,5025.000000
mean,10.680485,9.071528,9.418850,8.456584,9.015024,7.342090,8.692219,7.499421,14.071773,20.0,16.428155,14.977664,14.875717,14.275291,13.73329,12.001441,2.348657,1.336036
std,7.651042,7.364441,7.243648,7.153485,7.147890,6.139202,6.529317,5.828237,6.553246,0.0,6.443081,7.465878,7.471204,7.869490,7.96959,8.289062,14.121583,0.173313
min,0.328900,0.480000,0.493200,0.443600,0.285700,0.265500,0.229300,0.199700,0.289800,20.0,0.158500,0.383800,0.436700,0.160600,0.16340,0.171800,-54.500000,0.591667
25%,3.643500,3.300700,3.617100,2.707300,2.858900,3.123700,3.733000,3.626800,7.755500,20.0,20.000000,6.507100,6.377100,5.404700,5.11700,3.248600,-3.000000,1.250000
50%,7.159100,5.584100,6.236100,5.748200,6.884700,5.239300,6.660800,5.628400,16.529100,20.0,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,1.500000,1.408333
75%,20.000000,20.000000,20.000000,20.000000,20.000000,9.137900,11.666500,9.109800,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,8.000000,1.466667
max,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,53.000000,1.500000

#### Save

-   Save as csv

In [23]:
save_path = "C:/Users/nilsm/workspace/MakeAIWork2/project/simpylc/data/data_3rounds"
df.to_csv(save_path)